In [1]:
from sklearn.datasets import load_iris
iris = load_iris()

X = iris.data
y = iris.target

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

data = pd.read_csv('https://raw.githubusercontent.com/justmarkham/scikit-learn-videos/master/data/Advertising.csv')

feature_cols = ['TV', 'Radio', 'Newspaper']
# feature_cols = ['TV', 'Newspaper']

X = data[feature_cols]
y = data['Sales']

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9